.container {
    text-align: center;
}

.feedback {
    display: none;
}

.mainDiv {
    margin: 0.4rem;
    justify-content: center;
    display: flex;
}
.div1 {
    margin: 0.4rem;
    display: flex;
    width: 20%;

}
.subDiv {
    margin: 0.4rem;
    display: flex;
    height:1rem;
    width:30%
    
}
.div2 {
    margin: 0.4rem;
    display: flex;
    width: 10%;
}

.div3 {
    
    background-color:#ECAB3C;
    height: 2rem;
}

.worldDiv {
    margin: 0.4rem,0.4rem,0,0.4rem;
    justify-content: center;
    display: flex;
}
.worldDiv1 {
    margin: 0.4rem;
    display: flex;
    width: 20%;
}
.world {
    margin: 0.4rem;
    display: flex;
    width: 25rem;
    height:2rem;
    background-color:#ECAB3C;
    width: 30%
    
}
.worldDiv2 {
    margin: 0.4rem;
    display: flex;
    width: 10%;
}
.graph-wrapper{
    display: flex;
    flex-direction: column;
    

}
.heading {
    color: #ECAB3C;
}
.population {
    background-color:  #ECAB3C;
    
}
.languages {
    background-color:  #ECAB3C;
}
.population:focus{
    border: none;
    outline: 0;
}
.languages:focus {
    border: none;
    outline: 0;

}